@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.brand {
  font-size: 33px;
  font-weight: 700;
}

.btn {
  border-radius: 8px;
  border: none;
  width: 140px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  background: rgb(255, 144, 14);
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 45px;
}

/* nav related styles */
.header {
  background-color: rgba(255, 144, 14, 0.1);
  margin-bottom: 75px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 75px;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

/* Banner related styles */
.banner {
  padding-bottom: 40px;
}
.banner-info {
  max-width: 645px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
}
.banner-dis,
.feature-dis {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.banner-img img {
  width: 100%;
}

/* feature related styles */
.feature-container {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.feature-info {
  max-width: 402px;
}

.feature-images img {
  width: 100%;
  border: 2px solid blueviolet;
  border-radius: 10px;
}
.feature-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}

/* Responsible */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .feature-container {
    flex-direction: column;
  }

  .feature-images {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .feature-container {
    flex-direction: column-reverse;
  }
  .feature-images {
    grid-template-columns: repeat(2, 1fr);
  }
}
