@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.brand {
  font-size: 33px;
  font-weight: 700;
}

.btn {
  border-radius: 8px;
  border: none;
  width: 140px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  background: rgb(255, 144, 14);
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 45px;
}

/* nav related styles */
.header {
  background-color: rgba(255, 144, 14, 0.1);
  margin-bottom: 75px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 75px;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

/* Banner related styles */
.banner {
  padding-bottom: 40px;
}
.banner-info {
  max-width: 645px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
}
.banner-dis,
.feature-dis {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.banner-img img {
  width: 100%;
}

/* feature related styles */
.feature-container {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.feature-info {
  max-width: 402px;
}

.feature-images img {
  width: 100%;
  border: 2px solid blueviolet;
  border-radius: 10px;
}
.feature-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
}
/* Facts related styles */
.facts-container {
  margin-bottom: 120px;
}

.facts-info {
  margin-bottom: 80px;
}

.fact {
  width: 180px;
  height: 180px;
  padding: 10px;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact img {
  width: 24px;
  margin-bottom: 10px;
}

.fact-number {
  font-size: 30px;
  font-weight: 600;
  line-height: 53px;
}

.fact-box-containr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* Sponsors styles */
.sponsors {
  margin-bottom: 95px;
}
.sponsors-info {
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.sponsors-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
}

.sponsors-company img {
  width: 120px;
}

/* Experience styles */
.experience {
  margin-bottom: 100px;
}

.experience-container {
  gap: 100px;
}

.ex-information-box {
  max-width: 440px;
}

#batch-btn {
  padding: 35px 28px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 144, 14);
  color: rgb(244, 250, 255);
  margin-left: -85px;
  margin-top: -85px;
}

#ex-year {
  font-weight: 700;
  font-size: 30px;
}

.experience-img {
  max-width: 531px;
}

.experience-img img {
  width: 100%;
}

.experience-title {
  border-left: 6px solid rgb(255, 144, 14);
  padding-left: 16px;
  margin-bottom: 30px;
}

.feature-card {
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.card-title {
  color: rgb(19, 19, 19);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
}

.card-dis {
  color: rgb(114, 114, 114);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}

/* Responsible */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .feature-container {
    flex-direction: column;
  }

  .experience-container {
    flex-direction: column-reverse;
  }
  .experience-img img {
    width: 75%;
    margin: 0 auto;
  }

  #batch-btn {
    padding: 25px 20px;
    margin-left: -85px;
    margin-top: -85px;
  }

  .feature-images,
  .fact-box-containr {
    grid-template-columns: repeat(1, 1fr);
  }

  .sponsors-company {
    grid-template-columns: repeat(3, 1fr);
  }

  .fact-box-containr {
    justify-items: center;
  }

  .sponsors-company img {
    width: 60px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .feature-container {
    flex-direction: column-reverse;
  }
  .feature-images,
  .fact-box-containr {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsors-company {
    grid-template-columns: repeat(3, 1fr);
  }
  .experience-container {
    flex-direction: column-reverse;
  }
  .experience-img img {
    width: 90%;
    /* margin: 0 auto; */
  }
  .ex-information-box {
    max-width: 100%;
  }
  #batch-btn {
    padding: 25px 20px;
    margin-left: -50px;
    margin-top: -40px;
  }

  .fact-box-containr {
    justify-items: center;
  }
}
